<!DOCTYPE html>
<html>
<% include ./partials/navbar %>
    <html>
    <%- include ./partials/header %>
        <div class="container mt-4">
            <h1>
                <%= message %>
            </h1>
            <h2>
                <%= error.status %>
            </h2>
            <p>If you see this page contact us at sholman@gus.pittstate.edu</p>


        </div>


        </body>

    </html>