<!doctype html>
<html lang="en">
<% include ./partials/navbar %>
  <% include ./partials/header %>

    <body>
      <div class="container">
      <h1 class="mt-4">Welcome to the home page!</h1>

      <p>Welcome to the interactive lab management platform. This web application is used to organize the test results
        of all the patients that we look over. Update the patients in the dashboard to get started.</p>

        <br>
        <br>
        <img src="/Doctor.jpg" />
      </div>
    </body>

</html>