<!DOCTYPE html>
<html>
<% include ../partials/navbar %>
<% include ../partials/header %>
<body>
<div class="container">
    <h1>Contact</h1>
    <div class="container">
        
        <form method="POST" action="/user/create" class="form-group">
          <input class="form-control" type="text" name="FirstName" placeholder="First name"/>
          <br>
          <input class="form-control" type="text" name="LastName" placeholder="Last name"/>
          <br>
          <input class="form-control" type="email" name="Email" placeholder="Email"/>
          <br>
          <input class="form-control" type="password" name="Password" placeholder="Password"/>
          <br>
          <select name="Role" class="form-control">
            <option value=""></option>
            <option value="Admin">Admin</option>
            <option value="Data Entry Specialist">Data Entry Specialist</option>
            <option value="Quality Control">Quality Control</option>
          </select>
          <br>
          <input class="btn btn-primary" type="submit" value="Create"/>
        </form>
      </div>
</div>




</body>
</html>