<!DOCTYPE html>
<html>
  <% include ../partials/navbar %>
  <% include ../partials/header %>
  
  <body>
    <div class="container mt-4">
    <h1>Team has been contacted!</h1>
    <a href="/user" class="btn btn-success">Users</a>
    </div>
  </body>
</html>