<!DOCTYPE html>
<html>
<% include ../partials/navbar %>
    <% include ../partials/header %>

        <body>
            <div class="container">
                <h1>Contact</h1>
                <div class="container">

                    <form method="POST" action="/user/update" class="form-group">
                        <input class="form-control" type="hidden" name="id" value="<%=data._id%>" />
                        <input class="form-control" type="text" name="FirstName" placeholder="First name" value="<%=data.FirstName%>" />
                        <br>
                        <input class="form-control" type="text" name="LastName" placeholder="Last name" value="<%=data.LastName%>" />
                        <br>
                        <input class="form-control" type="email" name="Email" placeholder="Email" value="<%=data.Email%>" />
                        <br>
                        <input class="form-control" type="password" name="Password" placeholder="Password" />
                        <br>
                        <select class="form-control" required type="text" name="Role">
                            
                            <% if (data.role === 'Data Entry Specialist') { %>
                                <option selected>Data Entry Specialist</option>
                            <% } else { %>
                                <option>Data Entry Specialist</option>
                            <% } %>
                            <% if (data.role === 'Quality Control') { %>
                                <option selected>Quality Control</option>
                            <% } else { %>
                                <option>Quality Control</option>
                            <% } %>                               
                            <% if (data.role === 'Admin') { %>
                                <option selected>Admin</option>
                            <% } else { %>
                                <option>Admin</option>
                            <% } %>                             
                        </select>
                        <br>
                        <input type="submit" class="btn btn-primary" value="Update" />
                    </form>
                </div>
            </div>




        </body>

</html>