<!doctype html>
<% include ../partials/navbar %>
<html>
<%- include('../partials/header', {title: 'Log In' }); %>

    <body>
        <div class="container mt-5">

            <div class="col-sm-6 col-sm-offset-3">

                <h1>Invalid role, unable to access this page</h1>



            </div>
        </div>
    </body>

</html>