<!DOCTYPE html>
<html>
  <% include ../partials/navbar %>
  <% include ../partials/header %>
  
  <body>
    <div class="container mt-4">
    <h1>Patient has been created!</h1>
    <a href="/patient" class="btn btn-success">Patients</a>
    </div>  
  </body>
</html>