
<!DOCTYPE html>
<html>
<% include ../partials/navbar %>
<% include ../partials/header %>
<body>
<div class="container">
    <h1>Contact</h1>
    <div class="container">

        <form method="POST" action="/patient/create" class="form-group">
          <input class="form-control" type="text" name="CreatorID" placeholder="Creator ID"/>
          <br>
          <br>
          <input class="form-control" type="text" name="CreatorName" placeholder="Creator name"/>
          <br> 
          <br>
          <input class="form-control" type="text" name="FirstName" placeholder="First name"/>
          <br>
          <br>
          <input class="form-control" type="text" name="LastName" placeholder="Last name"/>
          <br>
          <br>
          <input class="form-control" type="text" name="Birthdate" placeholder="Birth Date"/>
          <br>
          <br>
          <input class="form-control" type="text" name="Zipcode" placeholder="Zip code"/>
          <br>
          <br>
          <input class="form-control" type="text" name="State" placeholder="State"/>
          <br>
          <br>
          <input class="form-control" type="text" name="PhoneNumber" placeholder="Phone number"/>
          <br>
          <br>
          <input class="form-control" type="text" name="CreateDate" placeholder="Creation Date"/>
          <br>
          <br>
          <input class="form-control" type="text" name="InsuranceType" placeholder="Insurance type"/>
          <br>
          <br>
          <input class="form-control" type="text" name="TestType" placeholder="Test type"/>
          <br>
          <br>
          <input class="form-control" type="text" name="DoctorService" placeholder="Doctor service"/>
          <br>
          <br>
          <input class="form-control" type="text" name="LabName" placeholder="Lab name"/>
          <br>
          <br>
          <input class="form-control" type="text" name="SampleStatus" placeholder="Sample status"/>
          <br>
          <br>
          <input type="submit" class="btn btn-primary" value="Create"/>
        </form>
      </div>
</div>




</body>
</html>