<!DOCTYPE html>
<html>
<% include ../partials/navbar %>
    <% include ../partials/header %>

        <body>
            <div class="container">
                <h1>Contact</h1>
                <div class="container">

                    <form method="POST" action="/patient/update">
                        <input type="hidden" name="id" value="<%=data._id%>" />
                        <input type="text" name="CreatorID" placeholder="Creator ID" />
                        <br>
                        <br>
                        <input type="text" name="CreatorName" placeholder="Creator name" />
                        <br>
                        <br>
                        <input type="text" name="FirstName" placeholder="First name" />
                        <br>
                        <br>
                        <input type="text" name="LastName" placeholder="Last name" />
                        <br>
                        <br>
                        <input type="text" name="Birthdate" placeholder="Birth Date" />
                        <br>
                        <br>
                        <input type="text" name="Zipcode" placeholder="Zip code" />
                        <br>
                        <br>
                        <input type="text" name="State" placeholder="State" />
                        <br>
                        <br>
                        <input type="text" name="PhoneNumber" placeholder="Phone number" />
                        <br>
                        <br>
                        <input type="text" name="CreateDate" placeholder="Creation Date" />
                        <br>
                        <br>
                        <input type="text" name="InsuranceType" placeholder="Insurance type" />
                        <br>
                        <br>
                        <input type="text" name="TestType" placeholder="Test type" />
                        <br>
                        <br>
                        <input type="text" name="DoctorService" placeholder="Doctor service" />
                        <br>
                        <br>
                        <input type="text" name="LabName" placeholder="Lab name" />
                        <br>
                        <br>
                        <input type="text" name="SampleStatus" placeholder="Sample status" />
                        <br>
                        <br>
                        <input type="submit" value="Update" />
                    </form>
                </div>
            </div>




        </body>

</html>