<!DOCTYPE html>
<html>
    <% include ../partials/navbar %>
    <% include ../partials/header %>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Status page </h1>
  </body>
</html>